body {
    font-family: 'Arial', sans-serif;
    background-color: #e6e6e6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 20px;
    text-align: center;
}

.navbar {
    background-color: #131921;
    color: #fff;
    padding: 15px 0;
    border-radius: 12px;
    margin-bottom: 20px;
}

.navbar-brand {
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.admin-link {
    color: #ffc72c;
    font-weight: bold;
    text-decoration: none;
    margin-left: 20px;
}

.search-form-container {
    text-align: center;
    margin-bottom: 30px;
}

label {
    margin-right: 10px;
    font-size: 18px;
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#searchButton {
    background-color: #febd69;
    color: #111;
    border: none;
    padding: 14px 28px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

#searchButton:hover {
    background-color: #e08000;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    max-width: 100%;
}

.card {
    border: 2px solid #ddd;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    max-width: 30%;
    margin-bottom: 30px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.card img:hover {
    transform: scale(1.1);
}

.card h4 {
    font-weight: bold;
    color: #e77600;
    font-size: 20px;
}

.card h5 {
    font-weight: normal;
    margin: 15px 0;
    font-size: 18px;
}

.card p {
    font-size: 16px;
    margin: 15px 0;
}

.total-carrito {
    background-color: #febd69;
    color: #fff;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    margin-top: 30px;
}

.total-carrito span {
    font-weight: bold;
    font-size: 18px;
}
