/* Estilos generales para el formulario */
#dataForm {
  max-width: 400px;
  margin: 0 auto;
}

/* Estilos para las etiquetas de los campos */
label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: #333; /* Color de texto más oscuro */
}

/* Estilos para los campos de entrada de texto y números */
.form-control {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: 2px solid #007BFF; /* Borde más grueso y color de resalte */
  border-radius: 6px;
  box-sizing: border-box;
  transition: border-color 0.3s ease; /* Transición suave para el borde */
}

.form-control:focus {
  outline: none;
  border-color: #0056b3; /* Color de resalte al enfocar */
}

/* Estilos para el botón de envío */
.btn-primary {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 14px 26px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Estilos para el mensaje de éxito */
#successMessage {
  margin-top: 14px;
  font-weight: bold;
  color: #28a745; /* Verde para indicar éxito */
}

/* Estilos para el contenedor principal */
.container {
  text-align: center;
  padding: 30px;
  border: 2px solid #e0e0e0;
  border-radius: 8px;
  margin-top: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}
