body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

.navbar-brand {
    text-decoration: none;
    color: #333;
    margin-bottom: 20px;
    display: inline-block;
    font-size: 18px;
}

.navbar-brand i {
    margin-right: 5px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

#productoID {
    width: 100%;
    height: 200px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 12px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#eliminarButton {
    background-color: #ff6600;
    color: #fff;
    padding: 16px 32px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 22px;
    transition: background-color 0.3s;
}

#eliminarButton:hover {
    background-color: #ff5500;
}
