* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, rgba(33, 74, 255, 0.5), rgba(255, 255, 255, 1));
    background-image: url('/img/imagen.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(250, 250, 250);
}

.warning {
    display: none;
    width: 300px;
}

.warning.active {
    display: block;
    background-color: #0f0f0f;
    backdrop-filter: blur(4px);
    border-radius: 5px;
    margin-top: 30px;
    color: #f7573b;
    padding: 10px 0;
}

.form {
    display: block;
    padding: 25px;
    width: 300px;
    height: 350px;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgb(0, 0, 0);
}

#field {
    height: auto;
    padding: 10px;
    border: none;
}

.title {
    font-size: 30px;
    width: 150px;
    margin-bottom: -10px;
}

.link-signup,
.link-login {
    display: block;
    width: 70px;
    margin: 0 auto 30px;
    font-size: 12px;
    text-decoration: none;
}

input[type="email"],
input[type="password"] {
    display: block;
    width: 100%;
    outline: none;
    border: 1px solid rgb(243, 235, 235);
    border-radius: 5px;
    line-height: 30px;
    padding: 0 10px;
    margin-top: 12px;
    text-align: left;
}

.link-pass {
    font-size: 12px;
    margin: 10px 0;
    text-decoration: none;
}

.link-pass:hover {
    text-decoration: underline;
}

.btn-send {
    display: block;
    margin: 30px auto 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(33, 74, 255);
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: ease 300ms background-color;
}

.btn-send:hover {
    background-color: rgb(57, 103, 255);
}

@media screen and (max-width: 400px) {
    #field {
        padding: 0;
    }

    .link-signup,
    .link-login {
        margin-top: 10px;
    }

    .form,
    .warning {
        width: 75%;
        position: relative;
        top: -30px;
    }

    input {
        width: 100%;
    }
}