/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 20px auto;
    padding: 30px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    background-color: #232f3e;
    color: #fff;
    padding: 20px;
    margin-top: 0;
    border-radius: 10px 10px 0 0;
}

/* Estilos para el formulario */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #333;
}

input, select {
    width: calc(100% - 20px);
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
}

button {
    background-color: #ff9900;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e68a00;
}

/* Estilos para hacerlo responsive */
@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
    }
    
    input, select {
        width: 100%;
    }
}






