body {
    font-family: 'Arial', sans-serif;
    background-color: #d3c7c7;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.navbar {
    background-color: #007bff;
    padding: 1rem;
}

.navbar-brand {
    color: #0a0a0a;
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #fff;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.form-label {
    font-size: 18px;
    font-weight: bold;
}

.form-control {
    margin-bottom: 10px;
}

#imagePreview {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

#imageUrl {
    font-size: 16px;
}

#uploadButton {
    background-color: #28a745;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

#uploadButton:hover {
    background-color: #218838;
}

#successMessage {
    margin-top: 10px;
    font-weight: bold;
}
